.mar-tb-30 {
  margin: 30px 0;
}
.ovlgAttorneyGrowBanner {
  background: url(/next/images/ovlg-attorney-grow-banner.jpg);
  background-position-x: 15%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-repeat: no-repeat;
  min-height: 400px;
  padding: 10px 50px 20px;
  background-size: cover;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #2e9bb6;
  padding: 5px;
  width: 100%;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 5px solid #2e9bb6;
  padding: 10px;
  text-align: center;
  color: #333;
}
.bannerCTA {
  color: #fff;
  background-color: #ff9600 !important;
  border-color: #eea236;
  padding: 15px 50px;
  font-size: 18px;
}
.growFlowChart {
  list-style-type: none;
  text-align: center;
  color: #000;
}
.growFlowChart li {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  border: 2px solid #999;
  border-radius: 15px;
}
#attorneyGrowFaq .panel-heading h4 {
  font-family: arial;
}
.panel-title a {
  color: #337ab7;
  display: block;
}
