/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*form styles*/

svg:not(:root) {
  cursor: pointer;
}


#msform {
  /* height: 400px; */
  /* margin: 50px auto; */
  text-align: center;
  position: relative;
}

#msform input[disabled] {
  background: #ccc;
  color: #333;
  border: 1px solid #666;
}

#city,
#email,
#phone,
#user_state {
  margin: 25px 0 25px 0;
}

.form-msg {
  color: #a94442;
  font-size: 11px;
  margin-top: 25px;
  text-align: left;
}
#msform fieldset {
  min-height: 400px;
}

.bankruptcyForm {
  /* height: 350px; */
}
#msform fieldset {
  /* height:300px; */
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform select option {
  /* font-size: 20px; */
}
#msform select {
  height: 50px;
}

#msform .input-label {
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
  display: table-cell;
  padding: 0 5px;
}
#msform p {
  margin: 5px;
}

#msform .disabled {
  cursor: not-allowed;
}

a.previous,
a.next {
  user-select: none;
}

#msform .checkbox {
  text-align: left;
}

#msform .checkbox label {
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
  padding: 0 5px;
}

#msform .checkbox input[type="checkbox"] {
  margin-top: 12px;
}

#msform input[type="text"],
#msform input[type="tel"],
#msform select,
#msform textarea {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}
/*buttons*/
#msform .action-button {
  width: 100px;
  background: #27ae60;
  font-weight: bold;
  color: #2c3e50;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 1px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}
.smaller-btn .btn {
  padding: 6px 8px;
}
/*headings*/
.fs-title {
  font-size: 1em;
  text-transform: uppercase;
  color: #000000;
  margin: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 1em;
  color: #333;
  margin: 20px 0;
}
/*progressbar*/
#progressbar {
  overflow: hidden;
  /*CSS counters to number the steps*/
  /* counter-reset: step; */
}
#progressbar li {
  list-style-type: none;
  color: #2c3e50;
  text-transform: uppercase;
  font-size: 10px;
  width: 33.33%;
  float: left;
  position: relative;
}
#progressbar li:before {
  /* content: counter(step); */
  /* counter-increment: step; */

  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: #2c3e50;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  /* background: #27AE60; */
  color: #2e9bb6;
}
#progressbar li.active {
  color: #2e9bb6;
}

#progressbar li.active i:before {
  content: "\f111";
}

.em,
.uem,
.mr,
.umr {
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  /* opacity: .5; */
  width: 55px;
  height: 55px;
}
.em {
  background-image: url(/next/images/employeed.png) !important;
}
.uem {
  background-image: url(/next/images/unemployeed.png) !important;
}
.mr {
  background-image: url(/next/images/married.png) !important;
}
.umr {
  background-image: url(/next/images/unmarried.png) !important;
}

.bankruptcyFormBox #msform .em.active,
.bankruptcyFormBox #msform .uem.active,
.bankruptcyFormBox #msform .mr.active,
.bankruptcyFormBox #msform .umr.active {
  background-color: skyblue;
  color: #fff;
  opacity: 1;
  /* border: 3px solid blue; */
}

.bankruptcyFormBox #msform .btn.active {
  background-color: skyblue;
  color: #fff;
}

.datepicker.dropdown-menu {
  background: white;
}

.datepicker.datepicker-dropdown table tr td,
.datepicker.datepicker-dropdown table tr th {
  width: 50px;
}

#msform input.input-error,
#msform select.input-error,
#msform span.input-error,
#msform div.input-error {
  border: solid 3px red;
  box-shadow: 1px 1px 3px 1px #eac8c8;
}

.bankruptcyFormBox .irs--sharp .irs-from,
.bankruptcyFormBox .irs--sharp .irs-to,
.bankruptcyFormBox .irs--sharp .irs-single {
  background-color: #2e9bb6;
}
.bankruptcyFormBox .irs--sharp .irs-min,
.bankruptcyFormBox .irs--sharp .irs-max {
  background-color: #2e9bb6;
}

.bankruptcyFormBox .irs--sharp .irs-handle {
  background-color: #2e9bb6;
}

.bankruptcyFormBox .irs--sharp .irs-handle > i:first-child {
  border-top-color: #2e9bb6;
}

.bankruptcyFormBox .irs--sharp .irs-bar {
  background-color: #2e9bb6;
}

.bankruptcyFormBox .irs--sharp .irs-from:before,
.bankruptcyFormBox .irs--sharp .irs-to:before,
.bankruptcyFormBox .irs--sharp .irs-single:before {
  border-top-color: #2e9bb6;
}

.bankruptcyFormBox .irs--sharp .irs-handle.state_hover,
.bankruptcyFormBox .irs--sharp .irs-handle:hover {
  /* background-color: #2e9bb6; */
}

.bankruptcyFormBox p {
  margin: 5px;
}
#msform .checkbox input[type="checkbox"] {
  margin-top: 8px;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-7 {
  -webkit-perspective: 120px;
  -moz-perspective: 120px;
  -ms-perspective: 120px;
  perspective: 120px;
}

#loader-7:before {
  content: "";
  position: absolute;
  left: 25px;
  top: 25px;
  width: 50px;
  height: 50px;
  background-color: #3498db;
  animation: flip 1s infinite;
}

@keyframes flip {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(180deg) rotateX(180deg);
  }
}
