.main-container li {
    padding: 3px 0 8px;
}
.breadcrumb h1 {
    margin: 0;
    font-size: 2.6em;
}
.content_title, h1, .header-h1 {
    /* font-size: 2em; */
    font-size: 250%;
    line-height: 130%;
    color: #000;
}

.main-container ol, .main-container ul, .round-5 {
    overflow: hidden;
}
.breadcrumb {
    font-size: 1em;
    padding: 0;
    color: #4A1500;
    font-family: monospace;
    background: #fff;
    line-height: normal;
}


.ovlgSidebar, .block-wikihow {
    display: flex;
    flex-direction: column;
    background: #e8e2d6;
    padding: 15px;
    margin-bottom: 50px;
}

.ovlgSidebar a, .block-wikihow a {
    color: #4A1500;
    font-size: 100%;
    transition: all 400ms;
}

.counterStyle ol, .grey-counterStyle ol {
    counter-reset: section;
    list-style-type: none;
}
.main-container ol, .main-container ul, .round-5 {
    overflow: hidden;
}

.main-container li {
    padding: 3px 0 8px;
}
.counterStyle ol li::before {
    color: #000;
}
.counterStyle ol li::before, .grey-counterStyle ol li::before {
    counter-increment: section;
    content: counters(section,".") ") ";
    color: #333;
    font-weight: 700;
    font-size: 130%;
}
.ovlgSidebar a, .block-wikihow a {
    color: #4A1500;
    font-size: 100%;
    transition: all 400ms;
}

h2, .header-h2 {
    font-size: 210%;
    color: #111;
    /* font-size: 1.75em; */
    letter-spacing: 1px;
}

.pad-5 {
    padding: 5px;
}
.bg-beige {
    background: #e8e2d6;
}
.colr-brown {
    color: #4A1500;
}
.font-size-32 {
    font-size: 1.8em;
    line-height: 1em !important;
}
h3, .header-h3 {
    /* font-size: 1.5em; */
    font-size: 180%;
    color: #111;
}
.content_title, h1, .header-h1, h2, .header-h2, h3, .header-h3, h4, .header-h4, h5, .header-h5 {
    margin: 30px 0;
    text-rendering: optimizelegibility;
    font-family: 'EB Garamond', serif !important;
    font-weight: 400 !important;
}
.content_title, h1, h2, h3 {
    text-transform: none;
}

#vid_debt_consolidation {
    position: relative;
}

.font-size-24 {
    font-size: 1.32em;
}


.main-container ol, .main-container ul, .round-5 {
    overflow: hidden;
}
.list-style-none {
    padding-left: 10px;
    list-style-type: none;
}
.mar-l-20, .mar-lr-20 {
    margin-left: 20px;
}
.mar-lr-20, .mar-r-20 {
    margin-right: 20px;
}
.pad-t-10 {
    padding-top: 10px;
}

.large_numbering, .normal_numbering {
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

.main-container li {
    padding: 3px 0 8px;
}
.normal_numbering {
    background: #4a1500;
    border-radius: 50%;
    border: 2px solid #FFF;
    width: 44px;
    height: 40px;
    margin-right: 10px;
    line-height: 40px;
    text-align: center;
    display: inline-table;
    box-shadow: 0 0 10px #999;
}


#vid_debt_consolidation_base {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
}

#vid_debt_consolidation_base iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#vid_debt_settlement_base {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
}

#vid_debt_settlement_base iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.debt-settle .round-text {
    text-align: center;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #4a1500;
    border-radius: 100%;
    color: #fff;
    font-size: 24px;
}
.debt-manage .round-text {
    display: -webkit-inline-box;
    font-size: 18px;
}
.debt-management-video{
    width: 100%;
    height: 400px;
}
.img-full-width{
    width: 100%;
}
.debt-credit-accord h3 {
    margin: 5px 0;
}
.large_numbering {
    display: inline-block;
    margin-right: 10px;
    font-size: 2em;
    padding: 10px;
    background: #4a1500;
    color: white;
    box-shadow: 4px 4px 0 orange;
}
.large_numbering, .normal_numbering {
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}
.text-center {
    text-align: center;
}


.el-disp-1 {
    display:block
}
.el-cc-1{
    margin-right: 8px; padding: 0px 10px; font-size: 16px;
}
.el-pad-10 {
    padding: 10px 0;
}

.el-pad-0 {
    padding-left:0;
}
.el-shadow-3 {
    box-shadow: #ccc 0px 6px 10px;
}
.el-space-n {
    white-space: normal;
}
.el-list-n {
    list-style:none;
}
.el-font-14 span{
    font-size: 14px;
}

.el-font-60{
    font-size:60px;
}

.el-bdr-2{
    border: #ccc solid 1px;
}

.el-h1-title {
    margin: 0; font-size: 30px;
}
.el-mar-10{
    margin:10px;
}

.el-bdr-1{
    border-bottom: #2f86d5 solid 1px;
}
.el-back-white{
    background-color:transparent;
}
.el-font-1{
    font-size: 1.20em;
}
.el-border-2 {
    border:#ccc solid 1px;
}

.el-pos-1{
    position: relative; top: -100px;
}
.el-text-un {
    text-decoration:underline
}
.el-color-6{
    color: #666;
}
.el-mar-b-20 {
    margin-bottom:20px;
}
.el-sec-3{
    background:#f9f9f9;text-shadow:1px 1px 1px #fff;border-bottom:3px solid #eee;
}
.el-clear{
    clear: both;
}






/************************ icomon icon related part ************************/
@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon.eot');
	src:url('../font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../font/icomoon.woff?') format('woff'),
		url('../font/icomoon.ttf?') format('truetype'),
		url('../font/icomoon.svg?#icomoon') format('svg');
	font-display: swap;	
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-library:before {
	content: "\e605";
}
.icon-calculate:before {
	content: "\e609";
}
.icon-credit:before {
	content: "\e608";
}
.icon-calendar:before {
	content: "\e611";
}
.icon-checkmark-circle:before {
	content: "\e634";
}
.icon-coin:before {
	content: "\e607";
}
.icon-briefcase:before {
	content: "\e626";
}
.icon-law:before {
	content: "\e64a";
}