<section itemscope="" itemtype="https://schema.org/Attorney">
    <!-- full group -->
    <meta itemprop="paymentAccepted" content="Debit Card, Credit Card">
    <meta itemprop="currenciesAccepted" content="USD">
    <meta itemprop="priceRange" content="$50 to $1500">
    <div class="attorneyProfileWrepper">
       <div class="row" id="profilePicDiv">
         <div class="col-12 py-2">
            <nav aria-label="breadcrumb">
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door-fill"></i></a></li> 
                  <li class="breadcrumb-item"><a href="/attorneys/">Attorneys</a></li>
                  <li class="breadcrumb-item">Camron Hoorfar</li>               
               </ul>
            </nav>      
         </div>
      <div class="col-lg-9">
      <div class="row">

        <div class="col-sm-3 d-block atty-image"><img itemprop="image" id="profileImg" src="https://www.ovlg.com/sites/files/styles/large/public/pictures/picture-382277-1616670986.jpg?itok=2X1rMTxm" alt="OVLG Attorney Camron Hoorfar" class="img-fluid">
            <span class="atty-cog"><a href="/attorneys/attorneys-consent-doc/Camron-Hoorfar.pdf" target="_blank"><i
                    class="fa fa-cog" aria-hidden="true"></i></a></span>
        </div>

          <div class="col-sm-9">
             <h1 style="margin:0 0 10px 0"><span itemprop="name">Camron Hoorfar </span><span style="font-size: 16px">(Of Counsel Attorney)</span></h1>
             <div class="attorney-social">
                <ul></ul>
             </div>
             <div class="row1">
                <div class="">
                   <div><strong><span class="fa fa-gavel colr-brown font-size-18"></span> Bar Number:</strong> 24008 ( <span itemprop="areaServed">Kansas </span>)</div>
                   <!-- <div><strong><span class="fa fa-university colr-brown font-size-18"></span> Practice State:</strong> <span itemprop="areaServed"> </span><meta itemprop="location" content=""></div> -->
                </div>
             </div>
             <div class="row1">
                <div class="">
                   <div><strong><span class="fa fa-gavel colr-brown font-size-18"></span> Bar Number:</strong> 60942 ( <span itemprop="areaServed">Missouri </span>)</div>
                   <!-- <div><strong><span class="fa fa-university colr-brown font-size-18"></span> Practice State:</strong> <span itemprop="areaServed"> </span><meta itemprop="location" content=""></div> -->
                </div>
             </div>
             <div class=""><strong><span class="fa fa-money colr-brown font-size-18"></span> Offers initial free consultation:</strong>
                No                    
             </div>
          </div>
          <div class="col-sm-3 text-center">
             <div class="" style="margin-top:0px;">
                <!-- <meta>
                <div class="thumbnail vanityAwardBox" style="">
                   <canvas id="vanity_award_canvas" data-img-src="https://www.ovlg.com/include/widget/img/vanity-award/ovlg-attorney-award-blank-mid-jpg-ver.jpg" data-location-text="Lees Summit" width="200" height="275" role="img">Best Attorney in Lees Summit Listed in OVLG Bankruptcy MarketPlace</canvas>
                   <span class="embed-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Embed code">
                   <a class="btn btn-primary btn-sm" role="button" data-toggle="modal" data-target="#vanity_local_award_embed_code" data-attorney-id="382277" data-default-widget-height="300">
                   <span class="fa fa-code " aria-hidden="true"></span>
                   </a>
                   </span>
                </div> -->
             </div>
          </div>
       </div>
    </div>
</div>
</div>
    <div class="row">
       <div class="">
          <!-- About Me section -->
          <div class="AttorneyProfile">
             <a id="section5" class="AnchorText"></a>
             <h2><span class="fa fa-file-text"></span> <span class="headingStyle"> Practice Areas</span></h2>
             <div class="row">
                <div class="col-xs-12 practiceArea">
                   <ul class="practiceAreaUl" id="attorneyPracticeAreasDisplay">
                      <li class="practiceAreaLi">Consumer Bankruptcy</li>
                   </ul>
                </div>
                <br class="clear">
             </div>
          </div>
          <div class="AttorneyProfile">
             <a id="section6" class="AnchorText"></a>
             <h2>
                <span class="fa fa-map-signs"></span>
                <span class="headingStyle"> Contact Information</span>
             </h2>
             <div class="row">
                <div class="col-xs-12">
                   <ul style="list-style-type:none; padding-left:0; margin-bottom:0;">
                      <li class="colr-black" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                         <span class="fa fa-check-circle colr-grey font-size-24"></span> 
                         <strong>Location: </strong>
                         <!-- :  -->
                         <span itemprop="name">202 SW Market St, Lees Summit, Missouri, 64063</span>
                      </li>
                   </ul>
                </div>
                <div class="col-xs-12"><span class="fa fa-check-circle colr-grey font-size-24"></span> <strong>Phone: </strong><span itemprop="telephone">800-530-OVLG</span></div>
             </div>
          </div>
          <div class="AttorneyProfile workExpSection" style="margin: 0;">
             <a id="section7" class="AnchorText"></a>
             <h2>
                <span class="fa fa-briefcase"></span>
                <span class="headingStyle"> Professional Experience </span>
             </h2>
             <div class="timelinebox">
                <div class="tl-container">
                   <ul class="tl">
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">
                            May 2007 to May 2008 - <b>1 yr</b>
                         </div>
                         <div class="item-title">
                            <strong>Jackson, Wade, &amp; Blanck, L.L.C.</strong><strong><span>Law Clerk</span></strong>
                            <ul>
                               <li>Reviewed and revised multi-million dollar contractual documents</li>
                               <li>Researched changing taxation and aviation laws and regulations</li>
                            </ul>
                         </div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">
                            Dec 2008 to Apr 2010 - <b>1 yr 3 mos</b>
                         </div>
                         <div class="item-title">
                            <strong><span>Tax Research Specialist</span></strong>
                            <ul>
                               <li>Assisted tax return preparers with federal and state tax return issues</li>
                               <li>Analyzed taxation laws and explain how they affect taxpayers</li>
                               <li>Researched international, federal, and state tax return questions</li>
                            </ul>
                         </div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">
                            Oct 2008 to Present - <b>12 yrs 10 mos</b>
                         </div>
                         <div class="item-title">
                            <strong>Law Office of Camron Hoorfar, P.C.</strong><strong>Attorney</strong>
                            <ul>
                               <li>Taxation and Business law</li>
                               <li>Federal and State Litigation</li>
                               <li>Bankruptcy and Consumer Debt law</li>
                               <li>Traffic, Criminal, and Municipal Court law</li>
                            </ul>
                         </div>
                      </li>
                   </ul>
                </div>
             </div>
             <!-- <ul style="list-style-type:none; padding-left:0;">
                </ul> -->
          </div>
          <!--- new setion to replace above 'Education' section --->
          <div class="AttorneyProfile eduQualSection">
             <a id="section8" class="AnchorText"></a>
             <h2><span class="fa fa-book"></span> <span class="headingStyle"> Education </span></h2>
             <div class="timelinebox">
                <div class="tl-container">
                   <ul class="tl">
                      <li class="tl-item" ng-repeat="itembx">
                         <!-- <pre>
                            </pre> -->
                         <div class="timestamp">
                            University of Missouri at Kansas City School of Law                                                                    (2008)
                         </div>
                         <div class="item-title">
                            <b>Juris Doctor</b>
                         </div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <!-- <pre>
                            </pre> -->
                         <div class="timestamp">
                            University of Missouri at Kansas City School of Law                                                                    (2008)
                         </div>
                         <div class="item-title">
                            <b>LL.M. Taxation</b>
                         </div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <!-- <pre>
                            </pre> -->
                         <div class="timestamp">
                            University of Missouri at Columbia                                                                    (2005)
                         </div>
                         <div class="item-title">
                            <b>Bachelor of Arts and Science</b>
                            <span>College of Arts and Science, Political Science with a minor in Film</span>                            
                         </div>
                      </li>
                   </ul>
                </div>
             </div>
             <!-- <ul style="list-style-type:none; padding-left:0;">
                </ul> -->
          </div>
          <!-- Attorney contact form -->
          <input type="hidden" id="hidden_user_id_of_attorney" class="hidden_user_id_of_attorney" value="382277">
       </div>
    </div>
 </section>