<section itemscope="" itemtype="https://schema.org/Attorney"> <!-- full group -->
    <meta itemprop="paymentAccepted" content="Debit Card, Credit Card">
    <meta itemprop="currenciesAccepted" content="USD">
    <meta itemprop="priceRange" content="$50 to $1500">
  
  <div class="attorneyProfileWrepper">
      <div class="row" id="profilePicDiv">
          <div class="col-sm-12 py-2">
            <nav aria-label="breadcrumb">
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door-fill"></i></a></li> 
                  <li class="breadcrumb-item"><a href="/attorneys/">Attorneys</a></li>
                  <li class="breadcrumb-item">D. S. Henderson</li>               
               </ul>
            </nav>      
         </div>
         <div class="col-lg-9">
            <div class="row">
            <div class="col-sm-3 d-block atty-image"><img itemprop="image" id="profileImg" src="https://www.ovlg.com/attorneys/images/attorney-images/picture-445052.jpg" style="width:250px;height:300px;" alt="OVLG Attorney Dennise S Henderson" class="img-fluid">
                <span class="atty-cog"><a href="/attorneys/attorneys-consent-doc/Dennise-S-Henderson-new.pdf" target="_blank"><i class="fa fa-cog" aria-hidden="true"></i></a></span>
             </div>
             <div class="col-sm-9">
                <h1 style="margin:0 0 10px 0"><span itemprop="name">Dennise S Henderson </span>
                  <span style="font-size: 16px;" class="d-none d-md-inline d-lg-inline d-xxl-inline">(Of Council Attorney)</span>
                  <div style="font-size: 16px; line-height:20px;" class="pb-1 d-block d-md-none d-lg-none d-xxl-none">(Of Council Attorney)</div>
                </h1>
              
              <div class="attorney-social">
                  <ul></ul>            </div>
  
                                      <div class="row1">
                          <div class="">
                              <div><strong><span class="fa fa-gavel colr-brown font-size-18"></span> Bar Number:</strong> 208640 ( <span itemprop="areaServed">California </span>)</div>
                              
                          </div>
                      </div>
                  
                  
                  
                      <div class=""><strong><span class="fa fa-money colr-brown font-size-18"></span> Offers initial free consultation:</strong>
                      Yes                    </div>
  
                              </div>
  
              <div class="col-sm-3 text-center">
                              <!-- <div class="" style="margin-top:50px;">
                      <img class="pad-b-5" src="" style="margin-top:25px;" alt="OVLG  Badge"  title="OVLG  Badge"/>
                  </div> -->
                      </div>
      </div>
  </div>
</div>
</div>
  <div class="row">
  <div class="">
  
  <!-- About Me section -->
          <div class="AttorneyProfile">
          <a id="section1" class="AnchorText"></a>
          <h2 style="margin: 0"><span class="fa fa-user"></span> <span class="headingStyle"> About </span></h2>
          
          <div class="pad-10">
              <div class="truncateAndShow" data-tns-showchar="1000" data-tns-moretext="see more" data-tns-lesstext="show less" data-tns-ellipsestext="...">
              <p>I have had a private practice in the last 13+ years continuing the work I have done for 30 years in the Sacramento, Los Angeles, Orange County, Placer. Specifically continued work in bankruptcy and adversary proceedings on behalf of consumers and citizens. My interest has been consistent over the last 30 years - assisting individuals and families in understanding law and using it to their advantage.</p>            </div>
          </div>
      </div>
      
      
      
      <div class="AttorneyProfile">
          <a id="section5" class="AnchorText"></a>
          <h2><span class="fa fa-file-text"></span> <span class="headingStyle"> Practice Areas</span></h2>
          <div class="row">
              <div class="col-xs-12 practiceArea">
                  <ul class="practiceAreaUl" id="attorneyPracticeAreasDisplay">
                                      <li class="practiceAreaLi">Consumer Bankruptcy</li>
                                  </ul>
              </div>
              <br class="clear">
          </div>
      </div>
  
              <div class="AttorneyProfile">
          <a id="section6" class="AnchorText"></a>
              <h2>
                  <span class="fa fa-map-signs"></span>
                  <span class="headingStyle"> Contact Information</span>
              </h2>
              <div class="row">
                                      <div class="col-xs-12">
                          <ul style="list-style-type:none; padding-left:0; margin-bottom:0;">
                                                  <li class="colr-black" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                      <span class="fa fa-check-circle colr-grey font-size-24"></span> 
                                      <strong>Location: </strong>
                                      <!-- :  -->
                                      <span itemprop="name">1903 21st Street, Sacramento, California, 95811</span>
                              </li>
                                              </ul>
                      </div>
                  
                                      <div class="col-xs-12"><span class="fa fa-check-circle colr-grey font-size-24"></span> <strong>Phone: </strong><span itemprop="telephone">9164562027</span></div>
                                                      <div class="col-xs-12"><span class="fa fa-check-circle colr-grey font-size-24"></span> <strong>Fax: </strong><span itemprop="faxNumber">9164562035</span> </div>
                                              </div>
          </div>
      
              <div class="AttorneyProfile workExpSection" style="margin: 0;">
          <a id="section7" class="AnchorText"></a>
              <h2>
                  <span class="fa fa-briefcase"></span>
                  <span class="headingStyle"> Professional Experience </span>
              </h2>
              <div class="timelinebox">
                  <div class="tl-container">
                      <ul class="tl">
                                                  <li class="tl-item" ng-repeat="itembx">
                                                              <div class="timestamp">
                                      Jan 1997 to May 1999 - <b>2 yrs 4 mos</b></div>
                                  <div class="item-title">Legal Research Analyst</div>
                                                      </li>
                                                  <li class="tl-item" ng-repeat="itembx">
                                                              <div class="timestamp">
                                      May 1999 to Nov 2000 - <b>1 yr 6 mos</b></div>
                                  <div class="item-title">Legal Research Analyst Sacramento County Department of Social Services/ County Counsel</div>
                                                      </li>
                                                  <li class="tl-item" ng-repeat="itembx">
                                                              <div class="timestamp">
                                      Aug 2000 to Jul 2007 - <b>6 yrs 11 mos</b></div>
                                  <div class="item-title">Attorney III San Joaquin County Public Defender - Stockton, CA</div>
                                                      </li>
                                                  <li class="tl-item" ng-repeat="itembx">
                                                              <div class="timestamp">
                                      Jul 2007 to Present - <b>14 yrs 1 mo</b></div>
                                  <div class="item-title">Attorney/Owner Law office of Dennise Henderson - Sacramento, CA</div>
                                                      </li>
                                              </ul>
                  </div>
              </div>
  
  
              <!-- <ul style="list-style-type:none; padding-left:0;">
                          </ul> -->
          </div>
      
  
  <!--- new setion to replace above 'Education' section --->
              <div class="AttorneyProfile eduQualSection">
          <a id="section8" class="AnchorText"></a>
              <h2><span class="fa fa-book"></span> <span class="headingStyle"> Education </span></h2>
              <div class="timelinebox">
                  <div class="tl-container">
                      <ul class="tl">
                                                  <li class="tl-item" ng-repeat="itembx">
                              <!-- <pre>
                                                          </pre> -->
                              <div class="timestamp">
                                  University of the Pacific McGeorge School of Law                                                                    (1996 - 2000)
                                                              </div>
                                                          <div class="item-title">
                                  <b>Jd</b>
                                                              </div>
                                                      </li>
                                                  <li class="tl-item" ng-repeat="itembx">
                              <!-- <pre>
                                                          </pre> -->
                              <div class="timestamp">
                                  California State University Sacramento                                                                    (1996 - 1997)
                                                              </div>
                                                          <div class="item-title">
                                  <b>Bachelors Degree</b>
                                                              </div>
                                                      </li>
                                              </ul>
                  </div>
              </div>
  
              <!-- <ul style="list-style-type:none; padding-left:0;">
                          </ul> -->
          </div>
      
  
  
  
  <!-- Attorney contact form -->
  <input type="hidden" id="hidden_user_id_of_attorney" class="hidden_user_id_of_attorney" value="445052">
    </div>
   </div>
  
  <!-- Modal for 'Vanity local award' ///////////////// SR -->
  <div class="modal fade" id="vanity_local_award_embed_code" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add this award to your website</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -25px;">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body font-size-15">
          <div class="generating_code" style="display:block;"></div>
          <div class="content_to_show" style="display:none;">
              <p><strong>Step 1:</strong> <br> Choose widget size.</p>
              <div style="margin-top: -15px;">
                  <label class="radio-inline">
                      <input type="radio" name="vanity_award_widget_size" value="200" onclick="fnAlterWidgetCode(200)"> <strong>Small</strong> <small>(145px x 200px)</small>
                  </label>
                  <label class="radio-inline">
                      <input type="radio" name="vanity_award_widget_size" value="300" onclick="fnAlterWidgetCode(300)" checked=""> <strong>Medium</strong> <small>(218px x 300px)</small>
                  </label>
                  <label class="radio-inline">
                      <input type="radio" name="vanity_award_widget_size" value="400" onclick="fnAlterWidgetCode(400)"> <strong>Large</strong> <small>(291px x 400px)</small>
                  </label>
              </div>
  
              <p><strong>Step 2:</strong> <br> Please <a style="cursor:pointer;" onclick="fnCopyCode('vanity_widget_anchor','Copied html snippet')">click here to copy</a> following html and paste in the desired page of your website.</p>
              <div class="vanity_widget_anchor"></div>
              <a onclick="showCode('vanity_widget_anchor',85, this)" style="color: #a9d9f1;cursor:pointer;">Show more...</a>
  
              <p><strong>Step 3:</strong> <br> Also <a style="cursor:pointer;" onclick="fnCopyCode('vanity_widget_script','Copied script snippet')">click here to copy</a> following script and paste in the same page of your website preferably in footer section to improve the site performance.</p>
              <div class="vanity_widget_script"></div>
              <a onclick="showCode('vanity_widget_script',330, this)" style="color: #a9d9f1;cursor:pointer;">Show more...</a>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  </section>