

<!-- <h1> lyle--solomon page detail</h1> -->
<section itemscope="" itemtype="https://schema.org/Attorney">
   <meta itemprop="paymentAccepted" content="Debit Card, Credit Card" />
   <meta itemprop="currenciesAccepted" content="USD" />
   <meta itemprop="priceRange" content="$50 to $1500" />
   <div class="attorneyProfileWrepper">
      <div class="row" id="profilePicDiv">
         <div class="col-sm-12 py-2">
            <nav aria-label="breadcrumb">
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door-fill"></i></a></li>
                  <li class="breadcrumb-item"><a href="/attorneys/">Attorneys</a></li>
                  <li class="breadcrumb-item">Lyle Solomon</li>
               </ul>
            </nav>
         </div>
         <div class="col-sm-9">
            <span>
            <img itemprop="image" id="profileImg" src="https://www.ovlg.com/sites/files/styles/large/public/pictures/picture-432357-1625742143.jpg?itok=Fi-tEuLx" alt="OVLG Attorney Lyle  Solomon" class="img-responsive"></span>
            <h1 style="margin:0 0 10px 0">
               <span itemprop="name">Lyle  Solomon </span>
               <span class="attorney-type" style="font-size: 16px">(Principal Attorney)</span>
            </h1>
            <div class="attorney-social">
               <ul>
                  <meta itemprop="sameAs" content="https://www.linkedin.com/in/lyle-solomon/">
                  <li><a href="https://www.linkedin.com/in/lyle-solomon/" data-toggle="tooltip" data-placement="top" title="" target="_blank" data-original-title="Connect Lyle  Solomon on LinkedIn"><img src="https://www.ovlg.com/sites/all/themes/ovlg_bootstrap/ovlg/images/li-icon-24.jpg" style="margin: 0;" alt="Connect Lyle  Solomon on LinkedIn"></a></li>
                  <meta itemprop="sameAs" content="https://www.facebook.com/lyledavidsolomon/">
                  <li><a href="https://www.facebook.com/lyledavidsolomon/" data-toggle="tooltip" data-placement="top" title="" target="_blank" data-original-title="Follow Lyle  Solomon on Facebook"><img src="https://www.ovlg.com/sites/all/themes/ovlg_bootstrap/ovlg/images/fb-icon-24.jpg" style="margin: 0;" alt="Follow Lyle  Solomon on Facebook"></a></li>
                  <meta itemprop="sameAs" content="https://www.quora.com/profile/Lyle-Solomon-1">
                  <li><a href="https://www.quora.com/profile/Lyle-Solomon-1" data-toggle="tooltip" data-placement="top" title="" target="_blank" data-original-title="Follow Lyle on Quora"><img src="https://www.ovlg.com/sites/all/themes/ovlg_bootstrap/ovlg/images/quora-icon-24.png" style="margin: 0;" alt="Follow Lyle on Quora"></a></li>
                  <meta itemprop="sameAs" content="https://www.reddit.com/user/lylesolomonesq/">
                  <li><a href="https://www.reddit.com/user/lylesolomonesq/" data-toggle="tooltip" data-placement="top" title="" target="_blank" data-original-title="Lyle on Reddit"><img src="https://www.ovlg.com/sites/all/themes/ovlg_bootstrap/ovlg/images/reddit-icon-24.png" style="margin: 0;" alt="Lyle on Reddit"></a></li>
                  <meta itemprop="sameAs" content="https://twitter.com/lyle_solomon">
                  <li><a href="https://twitter.com/lyle_solomon" data-toggle="tooltip" data-placement="top" title="" target="_blank" data-original-title="Follow Lyle  Solomon on Twitter"><img src="https://www.ovlg.com/sites/all/themes/ovlg_bootstrap/ovlg/images/tw-icon-24.png" style="margin: 0;" alt="Follow Lyle  Solomon on Twitter"></a></li>
               </ul>
            </div>
            <div class="row1">
               <div class="">
                  <div>
                     <strong>
                     <span class="fa fa-gavel colr-brown font-size-18"></span> Bar Number:</strong>
                     <a href="http://members.calbar.ca.gov/fal/Licensee/Detail/226025" target="_blank">226025 </a>
                  </div>
               </div>
            </div>
            <!-- <div style="display: inline-block; margin-right: 15px;">
               <strong><span class="fa fa-user-circle-o colr-brown font-size-18"></span> Member of:</strong>
               <a href="http://members.calbar.ca.gov/fal/Licensee/Detail/226025">The State Bar of California</a>                    
               </div> -->
            <div class="yearOfExp">
               <strong><span class="fa fa-briefcase colr-brown font-size-18"></span> Years of experience:</strong>
               30                        
            </div>
            <div class=""><strong><span class="fa fa-money colr-brown font-size-18"></span> Offers initial free consultation:</strong>
               Yes                    
            </div>
            <div class="languageKnown">
               <strong>Languages known:</strong>
               <ul class="languageKnownUl" id="attorneyLanguageKnownDisplay">
                  <li class="languageKnownLi" style="text-transform:capitalize;">english, spanish</li>
               </ul>
            </div>
         </div>
         <div class="col-sm-3 text-center">
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-8">
         <div class="AttorneyProfile">
            <a id="section1" class="AnchorText"></a>
            <h2 style="margin: 0"><span class="fa fa-user"></span> <span class="headingStyle"> About </span></h2>
            <div class="pad-10">
               <div class="truncateAndShow" data-tns-showchar="1000" data-tns-moretext="see more" data-tns-lesstext="show less" data-tns-ellipsestext="...">
                  <p>Atty. Lyle Solomon has significant expertise in legal research and writing. He is a member of the State Bar of California and has extensive litigation experience.</p>
                  <p>Solomon has helped over 6000 people become debt-free. He has also contributed articles to top-notch websites on debt, credit, consumer laws, bankruptcy, and more.</p>
                  <p>Check out the nationally recognized attorney’s latest book - <a href="https://www.amazon.com/Think-Different-Save-David-Solomon-ebook/dp/B08ZMQ9G9X" target="_blank">Think Different! Save More!</a> on Amazon to get 48 tips to save your hard-earned money.</p>
               </div>
            </div>
         </div>
         <div class="AttorneyProfile">
            <a id="section2" class="AnchorText"></a>
            <h2 style="margin: 0"><span class="fa fa-pencil"></span> <span class="headingStyle"> Publications</span></h2>
            <div class="row">
               <div class="col-12">
                  <div class="row">
                  
                  <div class="col-12 col-xl-3 py-5 grayscale"><a href="https://www.yahoo.com/now/5-financial-conversations-potential-roommate-185626417.html" target="_blank" rel="noopener noreferrer nofollow" className="grayscale py-3"><img src="/next/images/yahoo.jpg" alt="yahoo logo" className="img-fluid" style="aspectRatio: 118/36 "/></a></div>
                  
                  <div class="col-12 col-xl-3 py-5 grayscale"><a href="https://www.foxnews.com/lifestyle/how-save-money-thanksgiving-dinner-2021" target="_blank" rel="noopener noreferrer nofollow" className="grayscale opacity-75 py-3"><img src="/next/images/fox-News.jpg" alt="foxnews logo" className="img-fluid" style="aspectRatio: 40/40 "/></a></div>
                  
                  <div class="col-12 col-xl-3 py-5 grayscale"><a href="https://www.msn.com/en-us/money/personalfinance/25-things-your-parents-never-told-you-about-adulthood-but-you-wish-they-had/ss-AAOPTxb?ocid=uxbndlbing#image=10" target="_blank" rel="noopener noreferrer nofollow" className="grayscale opacity-75 py-3"><img src="/next/images/msn-logo.jpg" alt="msn logo" className="img-fluid" style="aspectRatio: 76/33 " /></a></div>
                  
                  <div class="col-12 col-xl-3 py-5 grayscale"><a href="https://www.entrepreneur.com/article/370397" target="_blank" rel="noopener noreferrer nofollow" className="grayscale opacity-75 py-3">
                     <img src="/next/images/ENT-India.jpg" alt="entrepreneur logo" className="img-fluid" style="aspectRatio: 143/37 " /></a></div>
                  
                  <div class="col-12 col-xl-4 py-5 grayscale"><a href="https://thriveglobal.com/stories/managing-financial-well-being-with-depression-and-bipolar-disorder-a-silver-lining-beyond-the-fog/" target="_blank" rel="noopener noreferrer nofollow" className="grayscale py-3"><img src="/next/images/Thrive-global.jpg" alt="Thrive global logo" className="img-fluid" style="aspectRatio: 214/24 "/></a></div>

                  <div class="col-12 col-xl-4 py-5 grayscale"><a href="https://markets.businessinsider.com/news/stocks/oak-view-law-group-uses-gpt-3-to-create-bankruptcy-marketplace-1030314044" target="_blank" rel="noopener noreferrer nofollow" className="grayscale opacity-75 py-3"><img src="/next/images/markets-businessinsider.jpg" alt="Markets business insider logo"  className="img-fluid" style="aspectRatio: 94/36 "/></a></div>
                  
                  <div class="col-12 col-xl-4 py-5 grayscale"><a href="https://money.yahoo.com/experts-weigh-many-credit-cards-110019586.html?guccounter=1" target="_blank" rel="noopener noreferrer nofollow"><img src="/next/images/yahoo-money.jpg" alt="yahoo money logo" className="img-fluid" style="aspectRatio: 169/235"/></a></div>                  
                </div>
                 <div class="hidecontent row" id="moretext"> 
                  
                <!--    <div class="col-12 col-xl-4 py-5 grayscale"><a href="https://centsai.com/life/education/money-management-for-kids/" target="_blank" rel="noopener noreferrer nofollow" className="grayscale opacity-75 py-3"><img src="/next/images/centsai.jpg" alt="Centsai logo" className="img-fluid" style="aspectRatio: 63/49 "/></a></div>  -->
                                   
                  <div class="col-12 col-xl-4 py-5 grayscale"><a href="https://www.gobankingrates.com/credit-cards/advice/after-going-credit-card-crazy-during-lockdowns-76-percent-of-americans-want-to-curb-their-swiping/" target="_blank" rel="noopener noreferrer nofollow" className="grayscale py-3"><img src="/next/images/gobankingrates.jpg" alt="go banking rates logo" className="img-fluid" style="aspectRatio: 218/33 "/></a></div>
                  
                  <div class="col-12 col-xl-4 py-5 grayscale"><a href="https://www.avvo.com/legal-guides/ugc/struggling-with-debts-during-this-pandemic-let-s-get-an-insight-on-debt-consolidation?published=true" target="_blank" rel="noopener noreferrer nofollow"><img src="/next/images/avvo.jpg" alt="avvo logo" className="img-fluid" style="aspectRatio: 123/39 "/></a></div>
                  
                  <div class="col-12 col-xl-4 py-5 grayscale"><a href="https://www.benzinga.com/general/education/21/07/22239854/millennial-money-mistakes-and-lessons-learned-in-my-20s" target="_blank" rel="noopener noreferrer nofollow"><img src="/next/images/benzinga.jpg" alt="benzinga logo" className="img-fluid" style="aspectRatio: 135/24"/></a> </div>
                  
                  <div class="col-12 col-xl-4 py-5 grayscale"><a href="https://www.theladders.com/career-advice/5-signs-its-time-to-retire" target="_blank" rel="noopener noreferrer nofollow"><img src="/next/images/ladders.jpg" alt="the ladders logo" className="img-fluid" style="aspectRatio: 142/51"/></a>                  </div>
                  <div class="col-12 col-xl-4 py-5 grayscale"><a href="https://www.martindale.com/legal-news/article_oak-view-law-group_2549310.htm" target="_blank" rel="noopener noreferrer nofollow"><img src="/next/images/martindale.jpg" alt="martindale logo" className="img-fluid" style="aspectRatio: 157/23"/></a></div>                  
                  
                  <div class="col-12 col-xl-4 py-5 grayscale"><a href="https://www.refinery29.com/en-gb/2021/10/10697895/cryptocurrency-trading-investing-relationship-imoact" target="_blank" rel="noopener noreferrer nofollow"><img src="/next/images/refinery29.jpg" alt="refinery29 logo" className="img-fluid" style="aspectRatio: 182/42"/></a></div>
                  
                  <div class="col-12 col-xl-4 py-5 grayscale"><a href="https://www.uschamber.com/co/run/finance/good-vs-bad-debt-for-small-business" target="_blank" rel="noopener noreferrer nofollow"><img src="/next/images/uschamber.jpg" alt="uschamber logo" className="img-fluid" style="aspectRa</a>tio: 120/44"/></a></div>
                  
                  <div class="col-12 col-md-4 py-5 grayscale"><a href="https://www.nationofchange.org/2021/08/26/what-will-be-the-future-of-healthcare-in-the-aftermath-of-this-pandemic/" target="_blank" rel="noopener noreferrer nofollow"><img src="/next/images/nationofchange.jpg" alt="nationofchange logo" className="img-fluid" style="aspectRatio: 175/27"/></a></div>
                  
                  <div class="col-12 col-md-4 py-5 grayscale"><a href="https://www.rentcafe.com/blog/expert-interviews/save-for-down-payment-expert-advice/" target="_blank" rel="noopener noreferrer nofollow"><img src="/next/images/rentcafe.jpg" alt="rentcafe logo" className="img-fluid" style="aspectRatio: 140/33"/></a></div>
                  
                  <div class="col-12 col-xl-4 py-5 grayscale"><a href="https://www.nextavenue.org/retirement-savings-on-track/" target="_blank" rel="noopener noreferrer nofollow"><img src="/next/images/nextavenue.jpg" alt="nextavenue logo" className="img-fluid" style="aspectRatio: 182/46"/></a></div>
               </div>
                  <button  id="showbtn" type="button" class="btn btn-info">See More</button>
                  <button   id="hidebtn" type="button" class="btn btn-info hidecontent">See Less</button>
               </div>
               <!-- previous link of publications -->
               <!-- 
                  <div class="col-xs-12">
                     <ul style="list-style-type:none; padding-left:0; margin-bottom:0;">
                        <li class="colr-black"><span class="fa fa-check-circle colr-grey font-size-24"></span> <a href="https://www.entrepreneur.com/article/370397" target="_blank" rel="noopener noreferrer nofollow"></a></li>
                        <li class="colr-black"><span class="fa fa-check-circle colr-grey font-size-24"></span> <a href="https://www.msn.com/en-us/money/personalfinance/25-things-your-parents-never-told-you-about-adulthood-but-you-wish-they-had/ss-AAOPTxb?ocid=uxbndlbing#image=10" target="_blank" rel="noopener noreferrer nofollow">msn.com</a></li>
                        <li class="colr-black"><span class="fa fa-check-circle colr-grey font-size-24"></span> <a href="https://www.wikihow.com/File-for-Chapter-13-Bankruptcy" target="_blank" rel="noopener noreferrer nofollow">wikihow.com</a></li>
                        <li class="colr-black"><span class="fa fa-check-circle colr-grey font-size-24"></span> <a href="https://thriveglobal.com/stories/managing-financial-well-being-with-depression-and-bipolar-disorder-a-silver-lining-beyond-the-fog/" target="_blank" rel="noopener noreferrer nofollow">thriveglobal.com</a></li>
                         <li class="colr-black"><span class="fa fa-check-circle colr-grey font-size-24"></span> <a href="https://centsai.com/life/education/money-management-for-kids/" target="_blank" rel="noopener noreferrer nofollow">centsai.com</a></li>
                        <div class="hidecontent" id="moretext"> 
                           <li class="colr-black"><span class="fa fa-check-circle colr-grey font-size-24"></span> <a href="https://oaklandnewsnow.com/lyle-d-solomon-interview-on-legal-issues-small-businesses-face-during-covid-pandemic/" target="_blank" rel="noopener noreferrer nofollow">oaklandnewsnow.com</a></li>
                           <li class="colr-black"><span class="fa fa-check-circle colr-grey font-size-24"></span> <a href="https://www.bizjournals.com/phoenix/news/2021/09/08/my-view-why-california-businesses-flock-to-arizona.html" target="_blank" rel="noopener noreferrer nofollow">bizjournals.com</a></li>
                           <li class="colr-black"><span class="fa fa-check-circle colr-grey font-size-24"></span> <a href="https://www.uschamber.com/co/run/finance/good-vs-bad-debt-for-small-business" target="_blank" rel="noopener noreferrer nofollow">uschamber.com</a></li>
                           <li class="colr-black"><span class="fa fa-check-circle colr-grey font-size-24"></span> <a href="https://www.nationofchange.org/2021/08/26/what-will-be-the-future-of-healthcare-in-the-aftermath-of-this-pandemic/" target="_blank" rel="noopener noreferrer nofollow">nationofchange.org</a></li>
                           <li class="colr-black"><span class="fa fa-check-circle colr-grey font-size-24"></span> <a href="https://due.com/blog/survivor-benefits-a-brief-overview-and-significance-in-retirement-plans/" target="_blank" rel="noopener noreferrer nofollow">due.com</a></li>                           
                           <li class="colr-black"><span class="fa fa-check-circle colr-grey font-size-24"></span> <a href="https://www.accountingtoday.com/opinion/how-can-you-help-your-clients-track-their-missed-august-child-tax-credit-checks" target="_blank" rel="noopener noreferrer nofollow">accountingtoday.com</a></li>
                           <li class="colr-black"><span class="fa fa-check-circle colr-grey font-size-24"></span> <a href="https://www.accountingweb.com/practice/clients/help-clients-understand-hsa-and-fsa-differences" target="_blank" rel="noopener noreferrer nofollow">accountingweb.com</a></li>
                           <li class="colr-black"><span class="fa fa-check-circle colr-grey font-size-24"></span> <a href="https://www.financemagnates.com/cryptocurrency/investing-in-bitcoin-as-an-effective-retirement-strategy/" target="_blank" rel="noopener noreferrer nofollow">financemagnates.com</a></li>
                           <li class="colr-black"><span class="fa fa-check-circle colr-grey font-size-24"></span> <a href="https://www.rentcafe.com/blog/expert-interviews/save-for-down-payment-expert-advice/" target="_blank" rel="noopener noreferrer nofollow">rentcafe.com</a></li>
                        </div>
                     </ul>
                     <br>
                     <button  id="showbtn" type="button" class="btn btn-info">See More</button>
                     <button   id="hidebtn" type="button" class="btn btn-info hidecontent">See Less</button>
                     <br>
                  </div> 
                   -->
            </div>
         </div>
         <div class="AttorneyProfile">
            <a id="section3" class="AnchorText"></a>
            <h2><span class="fa fa-file-audio-o"></span> <span class="headingStyle">Podcast Interview</span></h2>
            <ul class="list-style-none">
               <li><span class="fa fa-check-circle colr-grey"></span> 
                  <a href="https://ohiobusinesspodcast.libsyn.com/the-journey-of-an-attorney-with-lyle-solomon-of-oak-view-law-group" target="_blank" title="The Journey of an Attorney with Lyle Solomon of Oak View Law Group">The Journey of an Attorney with Lyle Solomon of Oak View Law Group</a>
               </li>
               <li><span class="fa fa-check-circle colr-grey"></span> 
                  <a href="https://www.youtube.com/watch?v=GKsI7HwgOr4" target="_blank" title="Business Empowerment Podcast LIVE">Business Empowerment Podcast LIVE</a>
               </li>
               <li><span class="fa fa-check-circle colr-grey"></span> 
                  <a href="https://www.youtube.com/watch?v=uK5KobsKewY" target="_blank" title="Jumping The Bar - Later in Life">Jumping The Bar - Later in Life</a>
               </li>
               <li><span class="fa fa-check-circle colr-grey"></span> 
                  <a href="https://www.youtube.com/watch?v=pJANFSqeNaw" target="_blank" title="Treat your clients like family, and they’ll be back">Treat your clients like family, and they’ll be back</a>
               </li>
               <li><span class="fa fa-check-circle colr-grey"></span> 
                  <a href="https://www.youtube.com/watch?v=h_GcydLfr6c" target="_blank" title="Bankruptcy and Debt relief or settlement">Bankruptcy and Debt relief or settlement</a>
               </li>
            </ul>
         </div>
         <div class="AttorneyProfile">
            <a id="section4" class="AnchorText"></a>
            <h2><span class="fa fa-video-camera"></span> <span class="headingStyle">Video Interviews</span></h2>
            <div class="row">
               <div class="col-md-6">
                  <h3>Topic: Interview with Principal Attorney</h3>
                  <div class="tab-design-horizontal">
                     <div class="" itemProp="video" itemScope="" itemType="http://schema.org/VideoObject">
                        <div id="vid_principal_attorney_base" class="embed-responsive embed-responsive-16by9 el-border-2" data-src-id="vid_principal_attorney" data-yut-var="iANWSQtx-ZQ" >
                           <div class="yt_iframe_img">
                              <div id='vid_principal_attorney'>
                                 <i aria-hidden="true" class="fa fa-play-circle yt-icon"></i>
                                 <img src="https://i.ytimg.com/vi/iANWSQtx-ZQ/maxresdefault.jpg" />
                              </div>
                           </div>
                        </div>
                        <div class="meta-itemProp">
                           <meta itemProp="name" content="Interview with Principal Attorney Lyle Solomon" />
                           <meta itemProp="description" content="Interview with Principal Attorney Lyle Solomon on  how to manage debt during the pandemic" />
                           <meta itemProp="duration" content="PT1M33S" />
                           <meta itemProp="thumbnailUrl" content="https://i.ytimg.com/vi/iANWSQtx-ZQ/maxresdefault.jpg" />
                           <meta itemProp="embedURL" content="https://www.youtube.com/embed/iANWSQtx-ZQ" />
                           <meta itemProp="uploadDate" content="2021-01-04T11:00:43.000Z" />
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <h3>Topic: How To Consolidate Payday Loans</h3>
                  <div class="tab-design-horizontal">
                     <div class="" itemProp="video" itemScope="" itemType="http://schema.org/VideoObject">
                        <div id="vid_consolidate_payday_loans_base" class="embed-responsive embed-responsive-16by9 el-border-2" data-src-id="vid_consolidate_payday_loans" data-yut-var="y-0IcFvveuE" >
                           <div class="yt_iframe_img">
                              <div id='vid_consolidate_payday_loans'>
                                 <i aria-hidden="true" class="fa fa-play-circle yt-icon"></i>
                                 <img src="https://i.ytimg.com/vi/y-0IcFvveuE/default.jpg" />
                              </div>
                           </div>
                        </div>
                        <div class="meta-itemProp">
                           <meta itemProp="name" content="How To Consolidate Payday Loans" />
                           <meta itemProp="description" content="payday loan consolidation does it work? a complete guide to payday loan consolidation know more. payday loan consolidation company one focus financial.
                              payday loan debt consolidation programs payday loan debt consolidation companies payday loan debt consolidation reviews. and all you have to do to end your payday loan debt is take advantage of our payday loan debt consolidation program.. and this new payment using our consolidation program will be 50 – 75% lower than all your current payday loan payments combined!.. payday loan consolidation. in fact this new payment using our consolidation program will be 50 – 75% lower than all your current payday loan payments combined! We specialize in payday loan consolidation for any budget and have helped hundreds get out of debt" />
                           <meta itemProp="duration" content="PT1M33S" />
                           <meta itemProp="thumbnailUrl" content="https://i.ytimg.com/vi/y-0IcFvveuE/default.jpg" />
                           <meta itemProp="embedURL" content="https://www.youtube.com/embed/y-0IcFvveuE" />
                           <meta itemProp="uploadDate" content="2021-012-1724T11:00:43.000Z" />
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="AttorneyProfile">
            <a id="section5" class="AnchorText"></a>
            <h2><span class="fa fa-file-text"></span> <span class="headingStyle"> Practice Areas</span></h2>
            <div class="row">
               <div class="col-xs-12 practiceArea">
                  <ul class="practiceAreaUl" id="attorneyPracticeAreasDisplay">
                     <li class="practiceAreaLi">Consumer Bankruptcy</li>
                  </ul>
               </div>
               <br class="clear">
            </div>
         </div>
         <div class="AttorneyProfile">
            <a id="section6" class="AnchorText"></a>
            <h2>
               <span class="fa fa-map-signs"></span>
               <span class="headingStyle"> Contact Information</span>
            </h2>
            <div class="row">
               <div class="col-xs-12">
                  <ul style="list-style-type:none; padding-left:0; margin-bottom:0;">
                     <li class="colr-black" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                        <span class="fa fa-check-circle colr-grey font-size-24"></span> 
                        <strong>Location: </strong>
                        <!-- :  -->
                        <span itemprop="name">2316 Snowmass Lane, Rocklin, California, 95677</span>
                     </li>
                  </ul>
               </div>
               <div class="col-xs-12"><span class="fa fa-check-circle colr-grey font-size-24"></span> <strong>Phone: </strong><span itemprop="telephone">800-530-OVLG</span></div>
               <div class="col-xs-12"><span class="fa fa-check-circle colr-grey font-size-24"></span> <strong>Fax: </strong><span itemprop="faxNumber">800-637-OVLG</span> </div>
            </div>
         </div>
         <div class="AttorneyProfile workExpSection" style="margin: 0;">
            <a id="section7" class="AnchorText"></a>
            <h2>
               <span class="fa fa-briefcase"></span>
               <span class="headingStyle"> Professional Experience </span>
            </h2>
            <div class="timelinebox">
               <div class="tl-container">
                  <ul class="tl">
                     <li class="tl-item" ng-repeat="itembx">
                        <div class="timestamp">
                           Jan 2019 to Present - <b>2 yr. 6 mo.</b>
                        </div>
                        <div class="item-title">Principal attorney - Oak View Law Group, California.</div>
                     </li>
                     <li class="tl-item" ng-repeat="itembx">
                        <div class="timestamp">
                           Jan 2015 to Present - <b>6 yr. 6 mo.</b>
                        </div>
                        <div class="item-title">Of Counsel - Duran Law Office, Roseville, California</div>
                     </li>
                     <li class="tl-item" ng-repeat="itembx">
                        <div class="timestamp">
                           Jan 2011 to Dec 2014 - <b>3 yr. 11 mo.</b>
                        </div>
                        <div class="item-title">Of Counsel - Gray &amp; Prouty, Sacramento, California</div>
                     </li>
                     <li class="tl-item" ng-repeat="itembx">
                        <div class="timestamp">
                           Jan 2010 to Present - <b>11 yr. 6 mo.</b>
                        </div>
                        <div class="item-title">Of Counsel - Alcaraz - Tocchini, Tucson, Arizona</div>
                     </li>
                     <li class="tl-item" ng-repeat="itembx">
                        <div class="timestamp">
                           Jan 2003 to Present - <b>18 yr. 6 mo.</b>
                        </div>
                        <div class="item-title">Attorney at Law - Sole Practitioner, Rocklin, California</div>
                     </li>
                     <li class="tl-item" ng-repeat="itembx">
                        <div class="timestamp">
                           Jan 2000 to Dec 2003 - <b>3 yr. 11 mo.</b>
                        </div>
                        <div class="item-title">Law Clerk - Prentice &amp; Schaap, Attorneys at Law, Sacramento, California</div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="AttorneyProfile eduQualSection">
            <a id="section8" class="AnchorText"></a>
            <h2><span class="fa fa-book"></span> <span class="headingStyle"> Education </span></h2>
            <div class="timelinebox">
               <div class="tl-container">
                  <ul class="tl">
                     <li class="tl-item" ng-repeat="itembx">
                        <div class="timestamp">
                           University of the Pacific, McGeorge School of Law, Sacramento, California                                                            
                        </div>
                        <div class="item-title">
                           <b>J.D.</b>
                        </div>
                     </li>
                     <li class="tl-item" ng-repeat="itembx">
                        <div class="timestamp">
                           University of Nevada-Las Vegas, Nevada                                                            
                        </div>
                        <div class="item-title">
                           <b>B.A.</b>
                           Major: Criminal Justice                            
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <input type="hidden" id="hidden_user_id_of_attorney" class="hidden_user_id_of_attorney" value="432357">
      </div>
      <div class="col-md-4">
         <div class="ovlgSidebar hidden-sm hidden-xs">
            <p><strong>Table of contents</strong></p>
            <div class="counterStyle">
               <ol>
                  <li><a alt="About Me" href="#section1">About </a></li>
                  <li><a alt="Publications" href="#section2">Publications</a></li>
                  <li><a alt="Podcast" href="#section3">Podcast Interview</a></li>
                  <li><a alt="Video interviews" href="#section4">Video Interview</a></li>
                  <li><a alt="Practice Areas" href="#section5">Practice Areas</a></li>
                  <li><a alt="Contact Information" href="#section6">Contact Information</a></li>
                  <li><a alt="Professional Experience" href="#section7">Professional Experience</a></li>
                  <li><a alt="Education" href="#section8">Education</a></li>
               </ol>
            </div>
         </div>
         <div class="ovlgSidebar contrib-article">
            <h3 class="text-center"> Articles Contributed </h3>
            <div class="articleAttorneyPost" id="articleAttorneyPost_17132">
               <div class="" title="/education/american-rescue-plan-act-and-the-major-changes-it-brings.html">
                  <div class="font-size-18 mb-2 fw-bold">
                     <a class="colr-brown mar-tb-10 author-created0 " href="https://www.ovlg.com/education/american-rescue-plan-act-and-the-major-changes-it-brings.html">
                     American Rescue Plan Act and the major changes it brings
                     </a>
                  </div>
                  The American Rescue Plan Act incorporates some significant improvements to the tax code, in addition to including stimul... <a href="/education/american-rescue-plan-act-and-the-major-changes-it-brings.html"><br>Read more »</a>
                  <hr class="clear">
               </div>
            </div>
            <div class="articleAttorneyPost">
               <div class="" title="">
                  <div class="font-size-18 mb-2 fw-bold">
                     <a class="colr-brown mar-tb-10 author-created0 " href="https://www.ovlg.com/education/what-is-public-debt.html">
                     What is Public Debt?
                     </a>
                  </div>
                  The national debt is the sum a government owes to external lenders. Individuals, corporations, and even other government...
                  <a href="https://www.ovlg.com/education/what-is-public-debt.html"><br>Read more »</a>
                  <hr class="clear">
               </div>
            </div>
            <div class="articleAttorneyPost">
               <div class="" title="">
                  <div class="font-size-18 mb-2 fw-bold">
                     <a class="colr-brown mar-tb-10 author-created0 " href="https://www.ovlg.com/education/consumer-bankruptcy-reform-act-2020-game-changer.html">
                     Consumer Bankruptcy Reform Act 2020: Game changer
                     </a>
                  </div>
                  The Consumer Bankruptcy Reform Act of 2020 (“CBRA”) has been proposed by two Congressional Democrats, Elizabeth Warr...
                  <a href="https://www.ovlg.com/education/consumer-bankruptcy-reform-act-2020-game-changer.html"><br>Read more »</a>
                  <hr class="clear">
               </div>
            </div>
            <!-- <span id="more-article" class="hidecontent"> </span>
               <button type="button"  id="load-more-article"  class="btn btn-primary load-more width100 font-size-20">Load More Articles</button> -->
            <input type="hidden" id="row" value="0">
            <input type="hidden" id="all" value="8">
            <input type="hidden" id="attorney_name" value="Lyle  Solomon">
            <input type="hidden" id="attorney_id" value="432357">
         </div>
      </div>
   </div>
</section>

