<section itemscope="" itemtype="https://schema.org/Attorney">
    <!-- full group -->
    <meta itemprop="paymentAccepted" content="Debit Card, Credit Card">
    <meta itemprop="currenciesAccepted" content="USD">
    <meta itemprop="priceRange" content="$50 to $1500">
    <div class="attorneyProfileWrepper">
       <div class="row" id="profilePicDiv">
          <div class="col-sm-12 py-2">
            <nav aria-label="breadcrumb">
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door-fill"></i></a></li> 
                  <li class="breadcrumb-item"><a href="/attorneys/">Attorneys</a></li>
                  <li class="breadcrumb-item">Robert Davis</li>               
               </ul>
            </nav>      
         </div>        
        <div class="col-lg-9">
         <div class="row">
        <div class="col-sm-3 d-block atty-image"><img itemprop="image" id="profileImg" src="https://www.ovlg.com/sites/files/styles/large/public/pictures/picture-382251-1616671171.jpg?itok=nIkPyqR1" alt="OVLG Attorney Robert Davis" class="img-fluid">
            <span class="atty-cog"><a href="/attorneys/attorneys-consent-doc/Robert-Davis.pdf" target="_blank"><i
                    class="fa fa-cog" aria-hidden="true"></i></a></span>
        </div>
          <div class="col-sm-9">
             <h1 style="margin:0 0 10px 0"><span itemprop="name">Robert Davis </span><span style="font-size: 16px">(Of Counsel Attorney)</span></h1>
             <div class="attorney-social">
                <ul></ul>
             </div>
             <div class="row1">
                <div class="">
                   <div><strong><span class="fa fa-gavel colr-brown font-size-18"></span> Bar Number:</strong> 001482005 ( <span itemprop="areaServed">New Jersey </span>)</div>
                   <!-- <div><strong><span class="fa fa-university colr-brown font-size-18"></span> Practice State:</strong> <span itemprop="areaServed"> </span><meta itemprop="location" content=""></div> -->
                </div>
             </div>
             <div class=""><strong><span class="fa fa-money colr-brown font-size-18"></span> Offers initial free consultation:</strong>
                No                    
             </div>
          </div>
          <div class="col-sm-3 text-center">
             <!-- <div class="" style="margin-top:50px;">
                <img class="pad-b-5" src="" style="margin-top:25px;" alt="OVLG  Badge"  title="OVLG  Badge"/>
                </div> -->
          </div>
        </div>
     </div>
    </div>
 </div>
    <div class="row">
       <div class="">
          <!-- About Me section -->
          <div class="AttorneyProfile">
             <a id="section1" class="AnchorText"></a>
             <h2 style="margin: 0"><span class="fa fa-user"></span> <span class="headingStyle"> About </span></h2>
             <div class="pad-10">
                <div class="truncateAndShow" data-tns-showchar="1000" data-tns-moretext="see more" data-tns-lesstext="show less" data-tns-ellipsestext="...">
                   <p>OTHER WORK HISTORY ASSOCIATE, REAL ESTATE LAW, Guadagno &amp; Edip, LLP, NY, NY 2003-2004 ASSOCIATE, REAL ESTATE LAW, Adams &amp; Associates, LLP, NY, NY 2001-2003 ASSOCIATE, TRIAL ATTORNEY, Greenblatt, Softness &amp; Lesser, Hackensack, NJ 2001 LAW CLERK, Honorable Cornelius Blackshear, Bankruptcy Judge, SDNY 2000 LAW CLERK, BANKRUPTCY Skadden Arps, LLP NY, NY 1998-2000</p>
                </div>
             </div>
          </div>
          <div class="AttorneyProfile">
             <a id="section5" class="AnchorText"></a>
             <h2><span class="fa fa-file-text"></span> <span class="headingStyle"> Practice Areas</span></h2>
             <div class="row">
                <div class="col-xs-12 practiceArea">
                   <ul class="practiceAreaUl" id="attorneyPracticeAreasDisplay">
                      <li class="practiceAreaLi">Consumer Bankruptcy</li>
                   </ul>
                </div>
                <br class="clear">
             </div>
          </div>
          <div class="AttorneyProfile">
             <a id="section6" class="AnchorText"></a>
             <h2>
                <span class="fa fa-map-signs"></span>
                <span class="headingStyle"> Contact Information</span>
             </h2>
             <div class="row">
                <div class="col-xs-12">
                   <ul style="list-style-type:none; padding-left:0; margin-bottom:0;">
                      <li class="colr-black" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                         <span class="fa fa-check-circle colr-grey font-size-24"></span> 
                         <strong>Location: </strong>
                         <!-- :  -->
                         <span itemprop="name">5 Bellaire drive, Montclair, New Jersey, 07042</span>
                      </li>
                   </ul>
                </div>
                <div class="col-xs-12"><span class="fa fa-check-circle colr-grey font-size-24"></span> <strong>Phone: </strong><span itemprop="telephone">800-530-OVLG</span></div>
             </div>
          </div>
          <div class="AttorneyProfile workExpSection" style="margin: 0;">
             <a id="section7" class="AnchorText"></a>
             <h2>
                <span class="fa fa-briefcase"></span>
                <span class="headingStyle"> Professional Experience </span>
             </h2>
             <div class="timelinebox">
                <div class="tl-container">
                   <ul class="tl">
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">
                            Jan 2004 to Dec 2009 - <b>5 yrs 11 mos</b>
                         </div>
                         <div class="item-title">
                            <strong>ATTORNEY AT LAW</strong><br><span>Law Office of Robert B. Davis, NY, &amp; NJ</span>
                            <ul>
                               <li><span>Built practice from ground up, into a 15 million a year real estate transactional firm.</span></li>
                               <li><span>Representing sellers, buyers and lenders.</span></li>
                               <li><span>Complemented real estate practice with legal representation including franchising,</span> <span>landlord-tenant matters, bankruptcy, estate planning, foreclosure prevention, matrimonial</span> <span>and business formation.</span></li>
                               <li><span>Prepared and filed legal pleadings and documentation in various civil litigation cases</span></li>
                            </ul>
                            <br>&nbsp;
                         </div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">
                            Dec 2009 to May 2010 - <b>5 mos</b>
                         </div>
                         <div class="item-title">
                            <strong>ACCOUNT REPRESENTATIVE</strong><br><span>Canon Business Solutions, NY, NY </span>
                            <ul>
                               <li><span>Earned top Salesman of the Month May 2010</span></li>
                               <li><span>Trained on client based selling techniques, and salesforce.com database.</span></li>
                            </ul>
                         </div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">
                            Jan 2011 to Dec 2012 - <b>1 yr 11 mos</b>
                         </div>
                         <div class="item-title">
                            <strong>DIRECTOR OF HUMAN RESOURCES</strong><br><span>Starr, Inc. Brooklyn, NY</span>
                            <ul>
                               <li><span>Reduced Company overhead expenses by over 25% by implementing cost effective options</span> <span>and eliminating inefficiencies.</span></li>
                               <li><span>Implemented new company process with regard to hiring and training to increase quality of</span> <span>the programing offered to clients.</span></li>
                               <li><span>Ensured smooth administration of training and operations in a fast paced setting.</span></li>
                               <li><span>reviewed and resolved discrepancies on documents.</span></li>
                            </ul>
                         </div>
                      </li>
                   </ul>
                </div>
             </div>
             <!-- <ul style="list-style-type:none; padding-left:0;">
                </ul> -->
          </div>
          <!--- new setion to replace above 'Education' section --->
          <div class="AttorneyProfile eduQualSection">
             <a id="section8" class="AnchorText"></a>
             <h2><span class="fa fa-book"></span> <span class="headingStyle"> Education </span></h2>
             <div class="timelinebox">
                <div class="tl-container">
                   <ul class="tl">
                      <li class="tl-item" ng-repeat="itembx">
                         <!-- <pre>
                            </pre> -->
                         <div class="timestamp">
                            Benjamin N. Cardozo School of Law, NY                                                                    (2001)
                         </div>
                         <div class="item-title">
                            <b>JURIS DOCTOR</b>
                            <span>Editor Journal of International &amp; Comparative Law</span><br><span>Tax Clinic</span>                            
                         </div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <!-- <pre>
                            </pre> -->
                         <div class="timestamp">
                            City College of New York, NY                                                                    (1998)
                         </div>
                         <div class="item-title">
                            <b>B.A. ADVERTISING/PUBLIC RELATIONS</b>
                            <span>Dean's List</span><br><span>Golden Key National Honor Society Member (</span><span>3.56 overall GPA)</span>                            
                         </div>
                      </li>
                   </ul>
                </div>
             </div>
             <!-- <ul style="list-style-type:none; padding-left:0;">
                </ul> -->
          </div>
          <!-- Attorney contact form -->
          <input type="hidden" id="hidden_user_id_of_attorney" class="hidden_user_id_of_attorney" value="382251">
       </div>
    </div>
    <!-- Modal for 'Vanity local award' ///////////////// SR -->
    <div class="modal fade" id="vanity_local_award_embed_code" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add this award to your website</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -25px;">
                <span aria-hidden="true">×</span>
                </button>
             </div>
             <div class="modal-body font-size-15">
                <div class="generating_code" style="display:block;"></div>
                <div class="content_to_show" style="display:none;">
                   <p><strong>Step 1:</strong> <br> Choose widget size.</p>
                   <div style="margin-top: -15px;">
                      <label class="radio-inline">
                      <input type="radio" name="vanity_award_widget_size" value="200" onclick="fnAlterWidgetCode(200)"> <strong>Small</strong> <small>(145px x 200px)</small>
                      </label>
                      <label class="radio-inline">
                      <input type="radio" name="vanity_award_widget_size" value="300" onclick="fnAlterWidgetCode(300)" checked=""> <strong>Medium</strong> <small>(218px x 300px)</small>
                      </label>
                      <label class="radio-inline">
                      <input type="radio" name="vanity_award_widget_size" value="400" onclick="fnAlterWidgetCode(400)"> <strong>Large</strong> <small>(291px x 400px)</small>
                      </label>
                   </div>
                   <p><strong>Step 2:</strong> <br> Please <a style="cursor:pointer;" onclick="fnCopyCode('vanity_widget_anchor','Copied html snippet')">click here to copy</a> following html and paste in the desired page of your website.</p>
                   <div class="vanity_widget_anchor"></div>
                   <a onclick="showCode('vanity_widget_anchor',85, this)" style="color: #a9d9f1;cursor:pointer;">Show more...</a>
                   <p><strong>Step 3:</strong> <br> Also <a style="cursor:pointer;" onclick="fnCopyCode('vanity_widget_script','Copied script snippet')">click here to copy</a> following script and paste in the same page of your website preferably in footer section to improve the site performance.</p>
                   <div class="vanity_widget_script"></div>
                   <a onclick="showCode('vanity_widget_script',330, this)" style="color: #a9d9f1;cursor:pointer;">Show more...</a>
                </div>
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
          </div>
       </div>
    </div>
 </section>