<section itemscope="" itemtype="https://schema.org/Attorney">
    <!-- full group -->
    <meta itemprop="paymentAccepted" content="Debit Card, Credit Card">
    <meta itemprop="currenciesAccepted" content="USD">
    <meta itemprop="priceRange" content="$50 to $1500">
    <div class="attorneyProfileWrepper">
       <div class="row" id="profilePicDiv">
          <div class="col-sm-12 py-2">
            <nav aria-label="breadcrumb">
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door-fill"></i></a></li> 
                  <li class="breadcrumb-item"><a href="/attorneys/">Attorneys</a></li>
                  <li class="breadcrumb-item">S. M. DiFatta</li>               
               </ul>
            </nav>      
         </div>   
         <div class="col-lg-9">
            <div class="row">

        <div class="col-sm-3 d-block atty-image"><img itemprop="image" id="profileImg" src="https://www.ovlg.com/sites/files/styles/large/public/pictures/picture-382234-1616749421.jpg?itok=h4IAKoGL" alt="OVLG Attorney Samuel M. DiFatta" class="img-fluid" />
         <span class="atty-cog"><a href="/attorneys/attorneys-consent-doc/Samuel-M-DiFatta.pdf"
               target="_blank"><i class="fa fa-cog" aria-hidden="true"></i></a></span>
        </div>
          <div class="col-sm-9">
             <h1 style="margin:0 0 10px 0"><span itemprop="name">Samuel M. DiFatta </span><span style="font-size: 16px">(Of Counsel Attorney)</span></h1>
             <div class="attorney-social">
                <ul></ul>
             </div>
             <div class="row1">
                <div class="">
                   <div><strong><span class="fa fa-gavel colr-brown font-size-18"></span> Bar Number:</strong> 78156 ( <span itemprop="areaServed">Pennsylvania </span>)</div>
                   <!-- <div><strong><span class="fa fa-university colr-brown font-size-18"></span> Practice State:</strong> <span itemprop="areaServed"> </span><meta itemprop="location" content=""></div> -->
                </div>
             </div>
             <div class=""><strong><span class="fa fa-money colr-brown font-size-18"></span> Offers initial free consultation:</strong>
                No                    
             </div>
          </div>
          <div class="col-sm-3 text-center">
             <!-- <div class="" style="margin-top:50px;">
                <img class="pad-b-5" src="" style="margin-top:25px;" alt="OVLG  Badge"  title="OVLG  Badge"/>
                </div> -->
          </div>
       </div>
    </div>
</div>
</div>
    <div class="row">
       <div class="">
          <!-- About Me section -->
          <div class="AttorneyProfile">
             <a id="section5" class="AnchorText"></a>
             <h2><span class="fa fa-file-text"></span> <span class="headingStyle"> Practice Areas</span></h2>
             <div class="row">
                <div class="col-xs-12 practiceArea">
                   <ul class="practiceAreaUl" id="attorneyPracticeAreasDisplay">
                      <li class="practiceAreaLi">Consumer Bankruptcy</li>
                   </ul>
                </div>
                <br class="clear">
             </div>
          </div>
          <div class="AttorneyProfile">
             <a id="section6" class="AnchorText"></a>
             <h2>
                <span class="fa fa-map-signs"></span>
                <span class="headingStyle"> Contact Information</span>
             </h2>
             <div class="row">
                <div class="col-xs-12">
                   <ul style="list-style-type:none; padding-left:0; margin-bottom:0;">
                      <li class="colr-black" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                         <span class="fa fa-check-circle colr-grey font-size-24"></span> 
                         <strong>Location: </strong>
                         <!-- :  -->
                         <span itemprop="name">Po Box 23 PA, Tarentum, Pennsylvania, 15084</span>
                      </li>
                   </ul>
                </div>
                <div class="col-xs-12"><span class="fa fa-check-circle colr-grey font-size-24"></span> <strong>Phone: </strong><span itemprop="telephone">800-530-OVLG</span></div>
             </div>
          </div>
          <div class="AttorneyProfile workExpSection" style="margin: 0;">
             <a id="section7" class="AnchorText"></a>
             <h2>
                <span class="fa fa-briefcase"></span>
                <span class="headingStyle"> Professional Experience </span>
             </h2>
             <div class="timelinebox">
                <div class="tl-container">
                   <ul class="tl">
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">
                            Jan 2003 to Present - <b>18 yrs 7 mos</b>
                         </div>
                         <div class="item-title"><strong>Community Service</strong><br><br><span>Neighborhood Legal Services</span><br><span>Reduced Fee and Pro Bono Attorney Program</span></div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">
                            Jan 2002 to Dec 2002 - <b>11 mos</b>
                         </div>
                         <div class="item-title"><strong>Instructor</strong><br><span>Municipal Police Officers Education and Training Commission Program</span><br><span>Pennsylvania State Police Northwest Training Center, Meadville, Pennsylvania</span><br><br><span>Instructed Constitutional Criminal Procedure block of training.</span></div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">
                            Jan 1998 to Dec 1999 - <b>1 yr 11 mos</b>
                         </div>
                         <div class="item-title"><strong>Adjunct Faculty</strong><br><span>Criminal Justice Program</span><br><span>La Roche College, Pittsburgh, Pennsylvania</span><br><br><span>Course preparation and in class instruction for Criminal Law and Procedure and Constitutional Law.</span></div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">
                            Jan 1998 to Present - <b>23 yrs 7 mos</b>
                         </div>
                         <div class="item-title">
                            <strong>Higher Education Teaching Experience</strong><br><br><strong>Adjunct Faculty</strong><span><span> </span></span><br><span>Business Division</span><br><span>Butler County Community College, Butler, Pennsylvania</span><span>Course preparation and in class instruction for the following courses: </span>
                            <ul>
                               <li><span>Introduction to Business, Business</span> <span>Law, Business Ethics, Management, Employment Law, Labor Relations Law, Hospitality Law, and Medical</span> <span>law and Ethics. </span></li>
                               <li><span>Designed online programs and instructed Business Law, Business Ethics and Legal Terminology courses.</span></li>
                            </ul>
                         </div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">
                            Jan 1986 to Jan 2003 - <b>17 yrs</b>
                         </div>
                         <div class="item-title"><strong>Trooper</strong><span><span>&nbsp;</span></span><span>Pennsylvania State Police, Butler, Pennsylvania</span><br><span>Investigation of criminal and traffic incidents, prosecution of criminal cases, participation in criminal and </span><span>civil trials with proper knowledge of Rules of Criminal Procedure, Evidence, Criminal Statutes, Vehicle Code, </span><span>and other relevant statutes.</span></div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">
                            Jan 1996 to Present - <b>25 yrs 7 mos</b>
                         </div>
                         <div class="item-title"><strong>Private Practice Attorney</strong><br><span>Represented clients in bankruptcy, criminal and estate law</span></div>
                      </li>
                   </ul>
                </div>
             </div>
             <!-- <ul style="list-style-type:none; padding-left:0;">
                </ul> -->
          </div>
          <!--- new setion to replace above 'Education' section --->
          <div class="AttorneyProfile eduQualSection">
             <a id="section8" class="AnchorText"></a>
             <h2><span class="fa fa-book"></span> <span class="headingStyle"> Education </span></h2>
             <div class="timelinebox">
                <div class="tl-container">
                   <ul class="tl">
                      <li class="tl-item" ng-repeat="itembx">
                         <!-- <pre>
                            </pre> -->
                         <div class="timestamp">
                            Duquesne University, Pittsburgh, Pennsylvania                                                                    (1998)
                         </div>
                         <div class="item-title">
                            <b>Master of Arts - Education</b>
                         </div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <!-- <pre>
                            </pre> -->
                         <div class="timestamp">
                            Duquesne University, Pittsburgh, Pennsylvania                                                                    (1996)
                         </div>
                         <div class="item-title">
                            <b>Juris Doctor</b>
                         </div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <!-- <pre>
                            </pre> -->
                         <div class="timestamp">
                            Robert Morris University, Coraopolis, Pennsylvania                                                                    (1983)
                         </div>
                         <div class="item-title">
                            <b>Bachelor of Science - Business Administration</b>
                         </div>
                      </li>
                   </ul>
                </div>
             </div>
             <!-- <ul style="list-style-type:none; padding-left:0;">
                </ul> -->
          </div>
          <!-- Attorney contact form -->
          <input type="hidden" id="hidden_user_id_of_attorney" class="hidden_user_id_of_attorney" value="382234">
       </div>
    </div>
   
   
 </section>