<section itemscope="" itemtype="https://schema.org/Attorney">
    <meta itemprop="paymentAccepted" content="Debit Card, Credit Card">
    <meta itemprop="currenciesAccepted" content="USD">
    <meta itemprop="priceRange" content="$50 to $1500">
    <div class="attorneyProfileWrepper">
       <div class="row" id="profilePicDiv">
         <div class="col-sm-12 py-2">
            <nav aria-label="breadcrumb">
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door-fill"></i></a></li> 
                  <li class="breadcrumb-item"><a href="/attorneys/">Attorneys</a></li>
                  <li class="breadcrumb-item">V. Kalani</li>               
               </ul>
            </nav>      
         </div>
          <div class="col-sm-9">
             <span><img itemprop="image" id="profileImg" src="https://www.ovlg.com/sites/files/styles/large/public/pictures/picture-382175-1618405437.jpg?itok=mMLz15G0" alt="OVLG Attorney Virendra Kalani" class="img-responsive"></span>
             <h1 style="margin:0 0 10px 0"><span itemprop="name">Virendra Kalani </span><span style="font-size: 16px">(Founder and Principal Attorney)</span></h1>
             <div class="attorney-social">
                <ul></ul>
             </div>
             <div class="row1">
                <div class="">
                   <div><strong><span class="fa fa-gavel colr-brown font-size-18"></span> Bar Number:</strong> F 28/21 of 1979 ( <span itemprop="areaServed">WB </span>)</div>
                   </div>
             </div>
             <div style="display: inline-block; margin-right: 15px;"><strong><span class="fa fa-user-circle-o colr-brown font-size-18"></span> Member of:</strong>
                Bar Council of West Bengal                    
             </div>
             <div class="yearOfExp">
                <strong><span class="fa fa-briefcase colr-brown font-size-18"></span> Years of experience:</strong>
                42                        
             </div>
             <div class=""><strong><span class="fa fa-money colr-brown font-size-18"></span> Offers initial free consultation:</strong>
                Yes                    
             </div>
             <div class="languageKnown">
                <strong>Languages known:</strong>
                <ul class="languageKnownUl" id="attorneyLanguageKnownDisplay">
                   <li class="languageKnownLi" style="text-transform:capitalize;">english</li>
                </ul>
             </div>
          </div>
          <div class="col-sm-3 text-center">
          </div>
       </div>
    </div>
    <div class="row">
       <div class="">
          <div class="AttorneyProfile">
             <a id="section1" class="AnchorText"></a>
             <h2 style="margin: 0"><span class="fa fa-user"></span> <span class="headingStyle"> About </span></h2>
             <div class="pad-10">
                <div class="truncateAndShow" data-tns-showchar="1000" data-tns-moretext="see more" data-tns-lesstext="show less" data-tns-ellipsestext="...">
                  <p>Virendra Kalani is the founder and one of the principal attorneys of OVLG, where he provides debt solutions you can trust. </p>
                  <p>Mr. Kalani is a certified tax attorney with over 42 years of experience in legal research and writing. He provides financial advice on tax, debt management, business law, and estate planning.</p>
                </div>
             </div>
          </div>
          <div class="AttorneyProfile">
             <a id="section5" class="AnchorText"></a>
             <h2><span class="fa fa-file-text"></span> <span class="headingStyle"> Practice Areas</span></h2>
             <div class="row">
                <div class="col-xs-12 practiceArea">
                   <ul class="practiceAreaUl" id="attorneyPracticeAreasDisplay">
                      <li class="practiceAreaLi">Tax attorney</li>
                   </ul>
                </div>
                <br class="clear">
             </div>
          </div>
          <div class="AttorneyProfile">
             <a id="section6" class="AnchorText"></a>
             <h2>
                <span class="fa fa-map-signs"></span>
                <span class="headingStyle"> Contact Information</span>
             </h2>
             <div class="row">
                <div class="col-xs-12">
                   <ul style="list-style-type:none; padding-left:0; margin-bottom:0;">
                      <li class="colr-black" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                         <span class="fa fa-check-circle colr-grey font-size-24"></span> 
                         <strong>Location: </strong>
                         <span itemprop="name">Neelprabha, Patil Lane, No. 2, Nashik, India, 422005</span>
                      </li>
                   </ul>
                </div>
                <div class="col-xs-12"><span class="fa fa-check-circle colr-grey font-size-24"></span> <strong>Phone: </strong><span itemprop="telephone">800-530-OVLG ext- 8000</span></div>
             </div>
          </div>
          <div class="AttorneyProfile workExpSection" style="margin: 0;">
             <a id="section7" class="AnchorText"></a>
             <h2>
                <span class="fa fa-briefcase"></span>
                <span class="headingStyle"> Professional Experience </span>
             </h2>
             <div class="timelinebox">
                <div class="tl-container">
                   <ul class="tl">
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">Jan 2007 to Present - <b>14 yrs 6 mos</b></div>
                         <div class="item-title">President and Tax attorney at Oak View Law Group, USA. </div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">Jan 2001 to Present - <b>20 yrs 6 mos</b></div>
                         <div class="item-title">Commission Agent - Gilard Electronics Pvt. Ltd, Sun Windows Fashions Pvt. Ltd, P.L.Chopra &amp; Co. </div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">Jan 1995 to Jan 1999 - <b>3 yrs 11 mos</b></div>
                         <div class="item-title">Sales Officer, Wool Worth India, Ltd.</div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">Jan 1986 to Jan 1995 - <b>9 yrs</b></div>
                         <div class="item-title">Sr. Sales Officer - Relaxon, Calcutta.</div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">Jul 1983 to Jul 1986 - <b>3 yrs</b></div>
                         <div class="item-title">Sales Executive - Neptune Paper Mills Ltd., Calcutta.</div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">Jan 1980 to Jan 1983 - <b>3 yrs</b></div>
                         <div class="item-title">Marketing Officer - J.K.Organization.</div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">Jan 1977 to Jan 1980 - <b>2 yrs 11 mos</b></div>
                         <div class="item-title">Senior Assistant - V.Singhi &amp; Co., Chartered Accountants, Calcutta.</div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">Jan 1975 to Jan 1977 - <b>2 yrs</b></div>
                         <div class="item-title">Accountant - Deepak Industries Ltd, Calcutta.</div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">Jan 1974 to Jan 1975 - <b>1 yr</b></div>
                         <div class="item-title">Accounts Trainee - Assam Carbon Products Ltd, Calcutta.</div>
                      </li>
                   </ul>
                </div>
             </div>
          </div>
          <div class="AttorneyProfile eduQualSection">
             <a id="section8" class="AnchorText"></a>
             <h2><span class="fa fa-book"></span> <span class="headingStyle"> Education </span></h2>
             <div class="timelinebox">
                <div class="tl-container">
                   <ul class="tl">
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">Bar Council Of West Bengal</div>
                         <div class="item-title"><b>L.L.B</b></div>
                      </li>
                      <li class="tl-item" ng-repeat="itembx">
                         <div class="timestamp">University of Calcutta </div>
                         <div class="item-title"><b>B.Com</b></div>
                      </li>
                   </ul>
                </div>
             </div>
          </div>
          <input type="hidden" id="hidden_user_id_of_attorney" class="hidden_user_id_of_attorney" value="382175">
       </div>
    </div>
    <div class="modal fade" id="vanity_local_award_embed_code" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add this award to your website</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -25px;">
                <span aria-hidden="true">×</span>
                </button>
             </div>
             <div class="modal-body font-size-15">
                <div class="generating_code" style="display:block;"></div>
                <div class="content_to_show" style="display:none;">
                   <p><strong>Step 1:</strong> <br> Choose widget size.</p>
                   <div style="margin-top: -15px;">
                      <label class="radio-inline">
                      <input type="radio" name="vanity_award_widget_size" value="200" onclick="fnAlterWidgetCode(200)"> <strong>Small</strong> <small>(145px x 200px)</small>
                      </label>
                      <label class="radio-inline">
                      <input type="radio" name="vanity_award_widget_size" value="300" onclick="fnAlterWidgetCode(300)" checked=""> <strong>Medium</strong> <small>(218px x 300px)</small>
                      </label>
                      <label class="radio-inline">
                      <input type="radio" name="vanity_award_widget_size" value="400" onclick="fnAlterWidgetCode(400)"> <strong>Large</strong> <small>(291px x 400px)</small>
                      </label>
                   </div>
                   <p><strong>Step 2:</strong> <br> Please <a style="cursor:pointer;" onclick="fnCopyCode('vanity_widget_anchor','Copied html snippet')">click here to copy</a> following html and paste in the desired page of your website.</p>
                   <div class="vanity_widget_anchor"></div>
                   <a onclick="showCode('vanity_widget_anchor',85, this)" style="color: #a9d9f1;cursor:pointer;">Show more...</a>
                   <p><strong>Step 3:</strong> <br> Also <a style="cursor:pointer;" onclick="fnCopyCode('vanity_widget_script','Copied script snippet')">click here to copy</a> following script and paste in the same page of your website preferably in footer section to improve the site performance.</p>
                   <div class="vanity_widget_script"></div>
                   <a onclick="showCode('vanity_widget_script',330, this)" style="color: #a9d9f1;cursor:pointer;">Show more...</a>
                </div>
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
          </div>
       </div>
    </div>

    <!-- <div id="myModal" class="modal fade" role="dialog">
       <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Manage Metadata for This page</h4>
                <div style="text-align: center;">
                </div>
             </div>
             <div class="modal-body" style="padding: 0px; !important;">
                <form id="ovlg-user-attorney-metadata-form" accept-charset="UTF-8" method="post" action="/attorneys/virendra-kalani">
                   <div class="form-group">
                      <div class="col-sm-12">
                         <label for="pwd">Title:</label>
                         <div class="form-item form-item-title form-type-textfield form-group"><input placeholder="Title" class="form-control form-text" type="text" id="edit-title" name="title" value="Virendra Kalani (Founder and Principal Attorney)" size="20" maxlength="128"></div>
                         <span style="color: red;"></span>
                      </div>
                      <div class="col-sm-12">
                         <label for="pwd">Keywords:</label>
                         <div class="form-item form-item-keyword form-type-textfield form-group"><input placeholder="Meta keyword" class="form-control form-text" type="text" id="edit-keyword" name="keyword" value="Virendra Kalani (Founder and Principal Attorney)" size="20" maxlength="128"></div>
                         <span style="color: red;"></span>
                      </div>
                      <div class="col-sm-12">
                         <label for="pwd">Description:</label>
                         <div class="form-item form-item-description form-type-textarea form-group">
<div class="form-textarea-wrapper resizable textarea-processed resizable-textarea">
   <textarea placeholder="Meta description" class="form-control form-textarea" id="edit-description" name="description" cols="60" rows="5">Virendra Kalani (Founder and Principal Attorney)</textarea>
   <div class="grippie"></div>
</div>
                         </div>
                         <span style="color: red;"></span>
                      </div>
                      <div class="col-sm-3">
                         <button class="btn btn-success btn btn-success form-submit" type="submit" id="edit-submit" name="op" value="Save">Save</button>
                         <input type="hidden" name="form_id" value="ovlg_user_attorney_metadata_form">
                         <input type="hidden" name="form_build_id" value="form-e55sjAOxVX8A-Gdr-pw5QvIEpofeIcXUEgZ1xYtSeqI">
                      </div>
                   </div>
                </form>
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
          </div>
       </div>
    </div> -->

    
 </section>