.heroCommonBanner
{
  background: url(/next/images/ovlg-common-hero-banner.jpg);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left;
  height: 320px;
  background-size: cover;
  color: #666;
  padding: 0;
  position: relative;
}
.heroCommonText
{
  position: absolute;
  top: 0;
  left: 25%;
  color: #e8e2d6;
}
.heroCommonText h2 {
    font-size: 300%;
    color: #fff;
    font-weight: bolder;   
}
.services > div {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.services a.debt_relief_icon:hover span {
  color: #e8e2d6;
  background: #4a1500;
  border-color: #e8e2d6;
  box-shadow: 0 0 30px rgb(0 0 0 / 40%);
  transition: all 0.3s ease;
}
.services a.debt_relief_icon span {
  background: #e8e2d6;
  border: 5px solid #4a1500;
  border-radius: 50%;
  color: #4a1500;
  font-size: 200%;
  width: 100px;
  height: 100px;
  line-height: 90px;
  margin: 10px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 30%) inset;
}
.commonHeroForm
{
  background: #e8e2d6;
  color: #4a1500;
  margin-top: 20px;
  padding: 5px;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
.heroCommonText h2 {
    font-size: 120%;
}
.heroCommonText p {
    font-size: 80%;
}
.heroCommonText {
    text-align: right;
  }
}